<div class="conteiner">
  <app-header (loginedUserName) = "loginedUserName($event)" (userSignOut) = "userSignOut($event)" [changesNews] = 'changesNews'></app-header>
  <main>
    <div class="main-container">
      <div class="card" *ngFor="let news of newsArrHome">
        <img [src]="news.img" alt="" class="card-img">
        <div class="wrapper">
          <p class="card-caregori">{{news.category}}</p>
          <p class="card-data">{{news.time}}</p>
        </div>
        <div style="flex-grow: 1;">
          <h3 class="card-title">{{news.title}}</h3>
          <p class="card-text">{{news.text | slice:0:130}} <span *ngIf="news.text.length >130">...</span></p>
          <div class="buttonWraper" *ngIf="news.status">
            <button type="button" class="btn" (click)="cardEdit(news)">Edit</button>
            <button type="button" class="btn" (click)="cardDelete(news)">Delete</button>
          </div>
        </div>
        <span class="card-autor">{{"Autor:" + news.autor}}</span>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>